:root {
  --color-black: #000;
  --color-white: #fff;

  --color-gray-100: #333;
  --color-gray-200: #444;
  --color-gray-300: #555;
  --color-gray-400: #777;
  --color-gray-500: #888;
  --color-gray-600: #999;
  --color-gray-700: #aaa;
  --color-gray-800: #ccc;
  --color-gray-900: #ddd;

  --color-green: #298c43;
  --color-red: #d7282f;

  --font-roboto: 'Roboto', sans-serif;
  --font-pt-sans: 'Pt Sans', sans-serif;
}