:root {
  --color-black: #000;
  --color-white: #fff;

  --color-gray-100: #333;
  --color-gray-200: #444;
  --color-gray-300: #555;
  --color-gray-400: #777;
  --color-gray-500: #888;
  --color-gray-600: #999;
  --color-gray-700: #aaa;
  --color-gray-800: #ccc;
  --color-gray-900: rgba(0,0,0,.04);

  --color-green: #298c43;
  --color-red: #d7282f;

  --font-roboto: 'Roboto', sans-serif;
  --font-pt-sans: 'Pt Sans', sans-serif;

  --font-thin: 300;
  --font-regular: 400;
  --font-semi-bold: 500;
  --font-bold: 600;
  --font-extra-bold: 700;
}