@import "@/styles/common";
.header {
  @include center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-logo {
    display: flex;
    img {
      width: 100%;
    }
  }
}