@import "@/styles/common";

.wrapper {
  margin-bottom: 30px;
}

.header {
  @include center;
  display: flex;
  align-items: center;
  gap: 200px;

  &-logo {
    display: flex;

    img {
      width: 100%;
    }
  }
}

.search {
  flex: 1
}