// FONT WEIGHT

@mixin thin {
  font-weight: var(--font-thin);
}

@mixin regular {
  font-weight: var(--font-regular);
}

@mixin semiBold {
  font-weight: var(--font-semi-bold);
}

@mixin bold {
  font-weight: var(--font-bold);
}

@mixin extraBold {
  font-weight: var(--font-extra-bold);
}

// FONT SIZE

@mixin superExtraSmall {
  font-size: 10px;
}

@mixin extraSmall {
  font-size: 12px
}

@mixin small {
  font-size: 14px;
}

@mixin base {
  font-size: 16px;
}

@mixin medium {
  font-size: 18px;
}

@mixin large {
  font-size: 20px;
}

@mixin extraLarge {
  font-size: 24px;
}

@mixin superExtraLarge {
  font-size: 32px;
}

@mixin megaLarge {
  font-size: 48px;
}

// COLOR FUNCTION

@mixin fontColor($color) {
  color: $color;
}

// FONT FAMILY

@mixin roboto {
  font-family: var(--font-roboto);
}

@mixin ptSans {
  font-family: var(--font-pt-sans);
}