@import "@/styles/common";
.wrapper {
  @include center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 100px;
  border: 1px solid var(--color-gray-800);
  background-color: var(--color-gray-900);
}